/* Welcome Page Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    background-color: #114B5F;
}
.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: bold;
}
.sidebar > nav {
    background-color: #028090;
}
.main-content {
    flex: 1;
    padding: 20px;
}
.mood-calendar {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}
#calendar table {
    width: 100%;
    border-collapse: collapse;
}
#calendar th, #calendar td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
#calendar th {
    background-color: #f4f4f4;
    font-weight: bold;
}
#calendar td {
    height: 80px;
    vertical-align: top;
}