.chart-container-large {
    position: relative;
    height: 420px;
    width: 100%;
    margin-bottom: 20px;
}
.chart-container-bar {
    position: relative;
    height: 220px;
    width: 100%;
    margin-bottom: 40px;
}