.bg-happy-subtle { background-color: #fbfad9; color: #c0990a; }
.bg-sad-subtle { background-color: #cedaf7; color: #0c1282; }
.bg-angry-subtle { background-color: #ffcdcd; color: #bd1708; }
.bg-tired-subtle { background-color: #dcebef; color: #78706f; }
.bg-scared-subtle { background-color: #d1e7dd; color: #409242; }


.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.btn-outline-success {
  color: #325243;
  border-color: #325243;
}
.btn-outline-success:hover {
  background-color: #325243;
  color: white;
}

.btn-outline-primary {
  color: #F78F8F;
  border-color: #F78F8F;
}
.btn-outline-primary:hover {
  background-color: #F78F8F;
  color: white;
}
.mood-label,
.reason-label {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #325243;
  margin-bottom: 8px;
}


/* Search functionality styles */
#searchResults {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

#searchResults .list-group-item {
    border-left: none;
    border-right: none;
}

#searchResults .list-group-item:first-child {
    border-top: none;
}

#searchResults .list-group-item:last-child {
    border-bottom: none;
}

#userSearch {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#searchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#requestCount {
  background-color: #f56d6d;
}