<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Vibe Check</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/intro_stylesheet.css">
</head>
<body>
    <header>
        <nav>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>Vibe Check: Feel. Reflect. Thrive.</h2>
            <p>Your personal companion for emotional wellness. Reflect on your moods, discover patterns, and take charge of your mental wellbeing—one check-in at a time.</p>
        </section>

        <section>
            <h3>Features:</h3>
            <ul>
                <li>Fast and friendly mood check-ins</li>
                <li>See your friends' vibes and share your own</li>
                <li>Track trends with your personal mood dashboard</li>
              </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Vibe Check. All rights reserved.</p>
        <p>Made with &#10084 by Team Vibe Check.</p>
    </footer>
</body>
</html>